In [1]:
#Contactar con drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importar las bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [125]:
#Cargar la base de datos
df = pd.read_csv('/content/drive/MyDrive/sales for course/df_sucio.csv')
df

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0.0,2/19/2016,2016.0,NaN,29.0,F,United States,invalid,Accessories,Tires and Tubes,1.0,80.0,109.0,80.0,109.0,NaN
1,1.0,2/20/2016,NaN,NaN,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.5,28.5,49.0,57.0,NaN
2,2.0,2/27/2016,2016.0,NaN,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.0,11.0,15.0,NaN
3,3.0,3/12/2016,2016.0,NaN,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.5,116.5,175.0,233.0,NaN
4,4.0,3/12/2016,2016.0,NaN,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.0,41.666667,105.0,125.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44606,NaN,2/2/2016,2016.0,NaN,18.0,M,United States,California,Accessories,Cleaners,1.0,167.0,213.0,167.0,213.0,NaN
44607,22510.0,10/6/2015,2015.0,NaN,52.0,F,United Kingdom,England,Accessories,Tires and Tubes,3.0,14.67,17.0,44.0,51.0,NaN
44608,28005.0,4/17/2016,2016.0,NaN,21.0,M,United States,California,Clothing,Gloves,1.0,416.0,477.0,416.0,NaN,NaN
44609,4653.0,1/23/2016,2016.0,NaN,31.0,F,United States,California,Accessories,Bottles and Cages,2.0,47.5,60.0,95.0,120.0,NaN
44610,2684.0,9/9/2015,2015.0,NaN,58.0,F,United States,California,Accessories,invalid,3.0,70.0,87.0,210.0,261.0,723.0

In [126]:
#Extensión de la base
df.shape

(44611, 16)

In [127]:
#Información de la base
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44611 entries, 0 to 44610
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             43273 non-null  float64
 1   Date              43272 non-null  object
 2   Year              43272 non-null  float64
 3   Month             0 non-null      float64
 4   Customer Age      42407 non-null  float64
 5   Customer Gender   43272 non-null  object
 6   Country           43272 non-null  object
 7   State             43272 non-null  object
 8   Product Category  43272 non-null  object
 9   Sub Category      43272 non-null  object
 10  Quantity          43272 non-null  float64
 11  Unit Cost         43272 non-null  object
 12  Unit Price        43272 non-null  object
 13  Cost              43272 non-null  float64
 14  Revenue           43273 non-null  float64
 15  Column1           3191 non-null   float64
dtypes: float64(8), object(8)
memory usage: 5.4+ MB

In [128]:
#Describir las estadísticas
print(df.describe(include='all'))

               index     Date          Year  Month  Customer Age  \
count   43273.000000    43272  43272.000000    0.0  42407.000000
unique           NaN      576           NaN    NaN           NaN
top              NaN  invalid           NaN    NaN           NaN
freq             NaN      857           NaN    NaN           NaN
mean    17435.637603      NaN   2015.568428    NaN     36.390077
std     10051.100359      NaN      0.495301    NaN     11.122280
min         0.000000      NaN   2015.000000    NaN     17.000000
25%      8732.000000      NaN   2015.000000    NaN     28.000000
50%     17401.000000      NaN   2016.000000    NaN     35.000000
75%     26144.000000      NaN   2016.000000    NaN     44.000000
max     34866.000000      NaN   2016.000000    NaN     87.000000

       Customer Gender        Country       State Product Category  \
count            43272          43272       43272            43272
unique               2              4          46                4
top                  M  United States  California      Accessories
freq             22169          22458       12665            27428
mean               NaN            NaN         NaN              NaN
std                NaN            NaN         NaN              NaN
min                NaN            NaN         NaN              NaN
25%                NaN            NaN         NaN              NaN
50%                NaN            NaN         NaN              NaN
75%                NaN            NaN         NaN              NaN
max                NaN            NaN         NaN              NaN

           Sub Category      Quantity Unit Cost Unit Price          Cost  \
count             43272  43272.000000     43272      43272  43272.000000
unique               18           NaN       882       5111           NaN
top     Tires and Tubes           NaN   invalid    invalid           NaN
freq              13461           NaN       868        858           NaN
mean                NaN      2.001271       NaN        NaN    573.863815
std                 NaN      0.813315       NaN        NaN    687.566174
min                 NaN      1.000000       NaN        NaN      2.000000
25%                 NaN      1.000000       NaN        NaN     85.000000
50%                 NaN      2.000000       NaN        NaN    261.000000
75%                 NaN      3.000000       NaN        NaN    769.000000
max                 NaN      3.000000       NaN        NaN   3600.000000

             Revenue      Column1
count   43273.000000  3191.000000
unique           NaN          NaN
top              NaN          NaN
freq             NaN          NaN
mean      638.790297   682.708145
std       734.480650   772.447090
min         2.000000     2.000000
25%       102.000000   103.500000
50%       318.000000   389.000000
75%       901.000000   956.500000
max      5082.000000  3681.000000

In [129]:
#Se establece el formato óptimo de dato

from datetime import datetime

expected_types = {
    'index': float,
    'Date': datetime,
    'Year': float,
    'Month': float,
    'Customer Age': float,
    'Customer Gender': str,
    'Country': str,
    'State': str,
    'Product Category': str,
    'Sub Category': str,
    'Quantity': float,
    'Unit Cost': float,
    'Unit Price': float,
    'Revenue': float,
    'Column1': float
}

# Verifica que todos los valores en cada columna cumplan con el tipo esperado
type_check_results = {
    column: df[column].apply(lambda x: isinstance(x, dtype) or pd.isna(x)).all()
    for column, dtype in expected_types.items()
}

# Muestra los resultados
for column, is_correct_type in type_check_results.items():
    print(f"Columna '{column}': {'Correcta' if is_correct_type else 'Incorrecta'}")

Columna 'index': Correcta
Columna 'Date': Incorrecta
Columna 'Year': Correcta
Columna 'Month': Correcta
Columna 'Customer Age': Correcta
Columna 'Customer Gender': Correcta
Columna 'Country': Correcta
Columna 'State': Correcta
Columna 'Product Category': Correcta
Columna 'Sub Category': Correcta
Columna 'Quantity': Correcta
Columna 'Unit Cost': Incorrecta
Columna 'Unit Price': Incorrecta
Columna 'Revenue': Correcta
Columna 'Column1': Correcta

In [130]:
#Convertir formato a valor numérico
df['Unit Cost'] = pd.to_numeric(df['Unit Cost'], errors='coerce')
df['Unit Price'] = pd.to_numeric(df['Unit Price'], errors='coerce')

In [131]:
#Convertir fechas
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [132]:
#Corroboración del tipo de formato
#Se establece el formato óptimo de dato

from datetime import datetime

expected_types = {
    'index': float,
    'Date': datetime,
    'Year': float,
    'Month': float,
    'Customer Age': float,
    'Customer Gender': str,
    'Country': str,
    'State': str,
    'Product Category': str,
    'Sub Category': str,
    'Quantity': float,
    'Unit Cost': float,
    'Unit Price': float,
    'Revenue': float,
    'Column1': float
}

# Verifica que todos los valores en cada columna cumplan con el tipo esperado
type_check_results = {
    column: df[column].apply(lambda x: isinstance(x, dtype) or pd.isna(x)).all()
    for column, dtype in expected_types.items()
}

# Muestra los resultados
for column, is_correct_type in type_check_results.items():
    print(f"Columna '{column}': {'Correcta' if is_correct_type else 'Incorrecta'}")

Columna 'index': Correcta
Columna 'Date': Correcta
Columna 'Year': Correcta
Columna 'Month': Correcta
Columna 'Customer Age': Correcta
Columna 'Customer Gender': Correcta
Columna 'Country': Correcta
Columna 'State': Correcta
Columna 'Product Category': Correcta
Columna 'Sub Category': Correcta
Columna 'Quantity': Correcta
Columna 'Unit Cost': Correcta
Columna 'Unit Price': Correcta
Columna 'Revenue': Correcta
Columna 'Column1': Correcta

In [133]:
# Filas duplicadas
print(df.duplicated().sum())

3367

In [134]:
#Eliminar los registros duplicados
df.drop_duplicates(inplace = True)

In [135]:
#Filas duplicadas corroboración
print(df.duplicated().sum())

0

In [136]:
# Columnas con total de valores nulos
print(df.isnull().sum())

index                1336
Date                 2185
Year                 1336
Month               41244
Customer Age         2197
Customer Gender      1338
Country              1332
State                1335
Product Category     1337
Sub Category         1334
Quantity             1338
Unit Cost            2193
Unit Price           2189
Cost                 1335
Revenue              1336
Column1             38292
dtype: int64

In [137]:
#Comprobar la extensión
df.shape

(41244, 16)

In [138]:
# Eliminar las columnas sin datos
df = df.drop(columns=['Month','Column1'])

In [139]:
#Comprobar la nueva extensión
df.shape

(41244, 14)

In [140]:
# Columnas con total de valores nulos
print(df.isnull().sum())

index               1336
Date                2185
Year                1336
Customer Age        2197
Customer Gender     1338
Country             1332
State               1335
Product Category    1337
Sub Category        1334
Quantity            1338
Unit Cost           2193
Unit Price          2189
Cost                1335
Revenue             1336
dtype: int64

In [141]:
# Imputar con un valor fijo
df['Date'].fillna('Unknown', inplace=True)
df['Year'].fillna('Unknown', inplace=True)

<ipython-input-141-579bc6223209>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Date'].fillna('Unknown', inplace=True)
<ipython-input-141-579bc6223209>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['Date'].fillna('Unknown', inplace=True)
<ipython-input-141-579bc6223209>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna('Unknown', inplace=True)
<ipython-input-141-579bc6223209>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Year'].fillna('Unknown', inplace=True)

In [142]:
#Imputar Customer Age con mediana
df['Customer Age'].fillna(df['Customer Age'].median(), inplace=True)

<ipython-input-142-3fd371b5397d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Age'].fillna(df['Customer Age'].median(), inplace=True)

In [143]:
#Imputar Customer Gender mediante la moda
df['Customer Gender'].fillna(df['Customer Gender'].mode()[0], inplace=True)

<ipython-input-143-c82adb5620e2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Gender'].fillna(df['Customer Gender'].mode()[0], inplace=True)

In [144]:
#Imputar Country y State mediante su relación
df['Country'].fillna(df['Country'].mode()[0], inplace=True)
df['State'].fillna(df['State'].mode()[0], inplace=True)

<ipython-input-144-063ac43fb20a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Country'].fillna(df['Country'].mode()[0], inplace=True)
<ipython-input-144-063ac43fb20a>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['State'].fillna(df['State'].mode()[0], inplace=True)

In [145]:
#Imputar Product Category y Subcategory
df['Product Category'].fillna(df['Product Category'].mode()[0], inplace=True)
df['Sub Category'].fillna(df['Sub Category'].mode()[0], inplace=True)

<ipython-input-145-1973a7727db7>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product Category'].fillna(df['Product Category'].mode()[0], inplace=True)
<ipython-input-145-1973a7727db7>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sub Category'].fillna(df['Sub Category'].mode()[0], inplace=True)

In [146]:
#Imputar Quantity
df['Quantity'].fillna(df['Quantity'].median(), inplace=True)

<ipython-input-146-2184fdd8e527>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].median(), inplace=True)

In [147]:
df['Unit Cost'].fillna(df['Unit Cost'].median(), inplace=True)
df['Unit Price'].fillna(df['Unit Price'].median(), inplace=True)
df['Cost'].fillna(df['Cost'].median(), inplace=True)
df['Revenue'].fillna(df['Revenue'].median(), inplace=True)

<ipython-input-147-079cbeb561a3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Unit Cost'].fillna(df['Unit Cost'].median(), inplace=True)
<ipython-input-147-079cbeb561a3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Unit Price'].fillna(df['Unit Price'].median(), inplace=True)
<ipython-input-147-079cbeb561a3>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cost'].fillna(df['Cost'].median(), inplace=True)
<ipython-input-147-079cbeb561a3>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Revenue'].fillna(df['Revenue'].median(), inplace=True)

In [151]:
#Índice
df = df.dropna(axis=1)

In [152]:
# Columnas con total de valores nulos
print(df.isnull().sum())

Date                0
Year                0
Customer Age        0
Customer Gender     0
Country             0
State               0
Product Category    0
Sub Category        0
Quantity            0
Unit Cost           0
Unit Price          0
Cost                0
Revenue             0
dtype: int64

In [153]:
df.shape

(41244, 13)

In [157]:
#Describir las estadísticas de forma final
print(df.describe(include='all'))

           Date     Year  Customer Age Customer Gender        Country  \
count     41244  41244.0  41244.000000           41244          41244
unique      576      3.0           NaN               2              4
top     Unknown   2016.0           NaN               M  United States
freq       2185  22735.0           NaN           21790          22025
mean        NaN      NaN     36.319368             NaN            NaN
std         NaN      NaN     10.825552             NaN            NaN
min         NaN      NaN     17.000000             NaN            NaN
25%         NaN      NaN     28.000000             NaN            NaN
50%         NaN      NaN     35.000000             NaN            NaN
75%         NaN      NaN     43.000000             NaN            NaN
max         NaN      NaN     87.000000             NaN            NaN

             State Product Category     Sub Category      Quantity  \
count        41244            41244            41244  41244.000000
unique          46                4               18           NaN
top     California      Accessories  Tires and Tubes           NaN
freq         12965            26635            13769           NaN
mean           NaN              NaN              NaN      2.001649
std            NaN              NaN              NaN      0.799945
min            NaN              NaN              NaN      1.000000
25%            NaN              NaN              NaN      1.000000
50%            NaN              NaN              NaN      2.000000
75%            NaN              NaN              NaN      3.000000
max            NaN              NaN              NaN      3.000000

           Unit Cost    Unit Price          Cost       Revenue
count   41244.000000  41244.000000  41244.000000  41244.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean      338.063005    376.903311    564.107167    629.049984
std       475.917397    511.912443    679.589018    726.201449
min         0.670000      0.666667      2.000000      2.000000
25%        48.000000     57.500000     90.000000    106.000000
50%       150.000000    178.000000    261.000000    319.000000
75%       418.000000    487.000000    769.000000    873.000000
max      3240.000000   5082.000000   3600.000000   5082.000000

In [159]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('C:\\Users\\Axel\\Downloads\\nueva_base.csv', index=False)

FIN REVISADO